torch
torchvision
opencv-python-headless
streamlit
# Installs Detectron2 CPU version directly from the official wheel
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2
