# 1. Base dependencies
torch
torchvision
opencv-python-headless
streamlit
pillow

# 2. Detectron2 (CPU version for Streamlit Cloud)
# We use the official pre-built Linux CPU wheel
https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch2.1/index.html
detectron2
